## Task 4.6- Steps 3 to 7 - Combining & Exporting Data

In [14]:
# import libraries

import pandas as pd
import numpy as np
import os

### Step 3 - Import the orders_products_combined

In [15]:
# Assign import file path to 'path' variable

path=r'C:\Users\19452\Desktop\Seema\Careerfoundry-Data Analytics Course\Work Area\Python Fundamentals\Nov-2023 Instacart Basket Analysis\02 Data'

In [16]:
# import 'orders_products_combined.pkl' to 'df_orders_products_combined' dataframe

df_orders_products_combined=pd.read_pickle(os.path.join(path,'Prepared Data','orders_products_combined.pkl'))

### Step 4 - Check the shape of the imported dataframe

In [17]:
# Look at the contents of merged dataframe

df_orders_products_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,0,0,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,0,0,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,0,0,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,0,0,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both

In [18]:
# check dimensions of combined dataframe

df_orders_products_combined.shape

(32640698, 12)

### Step 5 - Combine 'df_orders_products_combined' dataframe with products dataset

In [19]:
# import products dataset from Prepared data folder

df_prods=pd.read_csv(os.path.join(path,'Prepared Data','products_checked.csv'),index_col=False)

In [20]:
# Look at the contents of df_prods

df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [21]:
# Check the dimension of df_prods

df_prods.shape

(49672, 6)

In [22]:
# Merge df_orders_products_combined dataframe with products dataset
# indicator is set to a new varaible 'merge_flag' to show the flag values.  indicator=True throws value error since
# '_merge' was already used during the previous merge operation.

df_ords_prods_merge=df_orders_products_combined.merge(df_prods,on=['product_id'], how='outer',indicator='merge_flag')

### Step 6 - Confirm the results of the merge using the merge flag.

In [23]:
# Look at the contents of merged dataframe

df_ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,merge_flag
0,0.0,0.0,2539329.0,1.0,1.0,2.0,8.0,NaN,196.0,1.0,0.0,both,195.0,Soda,77.0,7.0,9.0,both
1,1.0,1.0,2398795.0,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both
2,2.0,2.0,473747.0,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both
3,3.0,3.0,2254736.0,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both
4,4.0,4.0,431534.0,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both

In [24]:
# check the dimensions of the merged dataframe

df_ords_prods_merge.shape

(32641279, 18)

In [25]:
# look at the value count of the flag column 'merge_flag'

df_ords_prods_merge['merge_flag'].value_counts()

merge_flag
both          32404859
left_only       236409
right_only          11
Name: count, dtype: int64

### Step 7 - Export the newly created dataframe in a suitable format

In [26]:
# Export merged dataframe in pickle file format to Prepared Data folder

df_ords_prods_merge.to_pickle(os.path.join(path,'Prepared Data','ords_prods_merge.pkl'))